header
{
	background-color:RGB(80,178,187);
	padding: 2%;

}
nav{
	background-color:RGB(80,178,187);
}
.row
{
	margin-right: 0px;
	margin-left: 0px;
}

.nav-pills>li>a
{
	color:white;
	/*RGB(24,67,67)*/
}

 
.nav-pills li.active a:hover
{
		color:RGB(24,67,67) !important;
	background-color: white;
}

.nav-pills li a:hover ,.nav-pills li.active a:visited 
{
	color:RGB(24,67,67) !important;
	background-color: white;
}


.logo
{
	color:white;
	font-size: 15px;
}
.navbar-brand
{
 color: white;
}

#brand{

	color: RGB(125,202,218);
}

.well
{
	background-color:RGB(209,224,235);
	color:white;
	font-weight: bold;
	font-size: 19px;
}

.customwell
{
	background-color:RGB(173,232,237);
	/* RGB(12,60,96);*/
	color:white;
	/*RGB(201,218,229)*/
	text-align: left;
	
}
.customwelll
{
	background-color: white;
	color:RGB(201,218,229);
	text-align:left;
}

footer
{
	
	margin-left:0px;
	background-color:RGB(80,178,187);
	text-align: center;
	color:white;
}	
.navbar-toggle
{
 background-color:white; 
 color:black;

}
.icon-bar{
	color:black;
}
.jumbotron
{

}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

@keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

.ng-enter-active        
{ animation: slideInRight 100s linear ease-in; 
 z-index: 8888; 
}
.ng-leave           
{ animation: slideOutLeft 0.5s both ease-in; 
	z-index: 9999; 
}


