<div>
<div class="row">
 <div class="col-sm-12 well well-lg">
 We are specialist in...
 </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 customwell">
	<h3>Solutioning</h3>
		<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
		</p>
  </div>
 <div class="col-xs-12 col-sm-6  col-md-4 customwelll">
	<h3>Consulting</h3>
	<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
	</p>
 </div>
 <div class="col-xs-12 col-sm-6  col-md-4 customwell">
	<h3>Production</h3>
	<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
	</p>
 </div>
</div>
<div class="jumbotron">
	
	<a href="#/journey"> <span class="glyphicon glyphicon-circle-arrow-down" style="margin:auto;"></span></a>
	</div>	
</div>
</div>
